@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema De Contatos</h1>
    <br />
    <h2 class="display-5">Seja Bem-Vindo!Ao Sitema De Contatos</h2>
   
</div>
